/*------------------------Universal selector---------------------------*/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

/*------------------------Root css root functions----------------- */
:root{
    --darkblue:#0A2254;
    --cblack:#000000;
    --yellow:#F8DB0B;
    --cwhite:rgb(255,255,255);
    --fb:#1877F2;
    --twit:#1DA1F2;
    --pin:#c8232c;
    --inst:#F70181;
    --yout:#FF0000;
    --flig:#0d9855;
    --pink:#FFE3EF;
    --skyblue:#C3EBFF;
    --lightgreen:#D4FFE1;
    --lightyellow:#FFF9C6;
    --lignt:#eee1ca;
    --light:#90ee90
}

/*---------------------------------------------nav logo----------------------------------------------------------*/

nav .logo{
    width:200px;
    height:100px;
    
}
nav .logo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

nav{
    width:100%;
    height:100px;
    background-color:var(--darkblue);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 40px;
    /* position:fixed;
    z-index:99999; */

    

}

nav .link a{
     
      font-weight:bold;
      text-transform: capitalize;
      padding:10px;
      transition:0.5s ease;
      color:white;

}

nav .link a{
    font-size:20px;
    text-decoration:none;
    font-weight:bold;
    position: relative;
    z-index: 1;
}

nav .link a:hover{
    color:var(--yellow);
}


nav .link{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition:all 0.5s linear;
}
nav .fa-bars{
    display:none;
    color:var(--cwhite);

}

nav input{
    display:none;
}

nav input:checked~.link{
    display:flex;
    left:0;
}

/*mobile view and Tab view*/

@media only screen and (min-width:320px) and (max-width:1422px){

    nav{
        position:relative;
        /* position:fixed; */
        z-index:99999;
    }
    nav{
        width:100%;
        height:100px;
        background-color:var(--darkblue);
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:40px 40px;
        /* position:fixed;
        z-index:9999; */
    
        
    
    }
    nav .link{
        display:none;
        position:absolute;
        width:100%;
        height:560px;
        color:var(--cwhite);
        background-color:var(--darkblue);
        /* border:5px solid black; */
        top:90px;
        left:100%;
        flex-direction:column;
        gap:5px;

    }

    nav .link a{
        border:1px solid silver;
        width:100%;
        text-align:center;
        border-left:none;
        border-right:none;
        border-top:none;
        
    }

    nav .link a:hover{
        width:250px;
    }
    nav .fa-bars{
        display:block;
        font-size:30px;
        
        }

        nav .logo{
            width:200px;
            height:90px;
        }
}


/*---------------------------------card-1-----------------------------------------*/

.plan-container{
    width:100%;
    background-color:white;
    display:grid;
    /* grid-template-columns:repeat(3,minmax(300px,1fr)); */
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    gap:40px;
    padding:50px 100px;
}
.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8,.card9,.card10,.card11
{
    /* width:30%; */
    height:100%;
    background-color:#143665;
    position:relative;
    cursor:pointer;
}

.card1 img,.card2 img,.card3 img,.card4 img,.card5 img,.card6 img,.card7 img,.card8 img,.card9 img,.card10 img,.card11
{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7,.btn8,.btn9,.btn10,.btn11
{
    display:grid;
    place-items: center;
   
}

.card1 h3,.card2 h3,.card3 h3,.card4 h3,.card5 h3,.card6 h3,.card7 h3,.card8 h3,.card9 h3,.card10 h3,.card11 h3
{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card1 p,.card2 p,.card3 p,.card4 p,.card5 p,.card6 p,.card7 p,.card8 p,.card9 p,.card10 p,.card11 p
{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

.btn1 button,.btn2 button,.btn3 button,.btn4 button,.btn5 button,.btn6 button,.btn7 button,.btn8 button,.btn9 button,.btn10 button,.btn11 button
{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card1 img:hover,.card2 img:hover,.card3 img:hover,.card4 img:hover,.card5 img:hover,.card6 img:hover,.card7 img:hover,.card8 img:hover,.card9 img:hover,.card10 img:hover,.card11 img:hover
{
    filter: brightness(30%);
}


/*----------------------------mobile view---------------------------------------*/

@media only screen and (min-width:320px) and (max-width:600px){
    .plan-container{

        display:grid;
        /* grid-template-columns:repeat(1,minmax(300px,1fr)); */
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        gap:15px;
        padding:15px;

    }
    .card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8,.card9,.card10,.card11
{
    /* width:30%; */
    height:100%;
    background-color:#143665;
    position:relative;
}
.btn1 button,.btn2 button,.btn3 button,.btn4 button,.btn5 button,.btn6 button,.btn7 button,.btn8 button,.btn9 button,.btn10 button,.btn11 button
{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    /* clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%); */
}
    

    .card1 p,.card2 p,.card3 p,.card4 p,.card5 p,.card6 p,.card7 p,.card8 p,.card9 p,.card10 p,.card11 p
    {
        color:white;
        font-size:16px;
        line-height:28px;
        padding:20px;
    }

}

/*----------------------------Tab view---------------------------------------*/

@media only screen and (min-width:600px) and (max-width:1290px){
    .plan-container{

        display:grid;
        /* grid-template-columns:repeat(2,minmax(300px,1fr)); */
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center;
        gap: 40px;
        padding:40px;

    }
    .btn1 button{
        background-color:#FFD336;
        color:black;
        font-weight:bold;
        padding:15px 80px;
        font-size:16px;
        position:absolute;
        top:270px;
        cursor:pointer;
        clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
        
    }

}

/*---------------------------------card-2-----------------------------------------*/


.card2{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card2 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn2{
    display:grid;
    place-items: center;
   
}
.card2 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card2 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}
.btn2 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card2 img:hover{
    filter: brightness(30%);
}



/*---------------------------------card-3-----------------------------------------*/

.card3{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card3 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn3{
    display:grid;
    place-items: center;
   
}
.card3 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card3 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

.btn3 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card3 img:hover{
    filter: brightness(30%);
}


/*---------------------------------card-4-----------------------------------------*/


.card4{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card4 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn4{
    display:grid;
    place-items: center;
   
}
.card4 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card4 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

.btn4 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card4 img:hover{
    filter: brightness(30%);
}


/*---------------------------------card-5-----------------------------------------*/

.card5{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card5 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn5{
    display:grid;
    place-items: center;
   
}

.card5 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card5 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

.btn5 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card5 img:hover{
    filter: brightness(30%);
}



/*---------------------------------card-6-----------------------------------------*/

.card6{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card6 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn6{
    display:grid;
    place-items: center;
   
}


.card6 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card6 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

.btn6 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card6 img:hover{
    filter: brightness(30%);
}


/*---------------------------------card-7-----------------------------------------*/

.card7{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card7 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn7{
    display:grid;
    place-items: center;
   
}

.btn7 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card7 img:hover{
    filter: brightness(30%);
}

.card7 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card7 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

/*---------------------------------card-8-----------------------------------------*/

.card8{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card8 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn8{
    display:grid;
    place-items: center;
   
}
.btn8 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card8 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card8 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

.card8 img:hover{
    filter: brightness(30%);
}


/*---------------------------------card-9-----------------------------------------*/

.card9{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card9 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn9{
    display:grid;
    place-items: center;
   
}
.btn9 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card9 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card9 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

.card9 img:hover{
    filter: brightness(30%);
}

/*---------------------------------card-10-----------------------------------------*/

.card10{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card10 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn10{
    display:grid;
    place-items: center;
   
}
.btn10 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card10 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card10 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

.card10 img:hover{
    filter: brightness(30%);
}


/*---------------------------------card-11-----------------------------------------*/

.card11{
    /* width:30%; */
    min-height:500px;
    background-color:#143665;
    position: relative;
}

.card11 img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.btn11{
    display:grid;
    place-items: center;
   
}
.btn11 button{
    background-color:#FFD336;
    color:black;
    font-weight:bold;
    padding:15px 80px;
    font-size:16px;
    position:absolute;
    top:220px;
    left: 68px;
    cursor:pointer;
    clip-path: polygon(9% 0,100% 0,91% 100%,0% 100%);
    
}

.card11 h3{
    color:#FFD336;
    font-size:32px;
    padding:30px;
}

.card11 p{
    color:white;
    font-size:18px;
    line-height:33px;
    padding:0px 30px 30px;
}

.card11 img:hover{
    filter: brightness(30%);
}


   /*-----------------------Footer area----------------------------*/

   footer{
    width:100%;
    min-height:100vh;
    color:var(--cwhite);
    background-image: url("./images/footerbg.avif");
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    padding:40px;
   }

   footer h3:nth-child(1){
    padding-top:40px;

   }
   footer h3:nth-child(2){
    padding:10px 0px 35px;

   }

   footer .contents{
    text-align:center;
   }

   .mail{
    font-size:25px;
    cursor:pointer;
   }
   .mail:hover{
    color:var(--yellow);
   }
   
   .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
    font-size:35px;
    padding-right:20px;
    padding-left:50px;
   }

   span{
    font-size:20px;
    
   }

   footer h3:nth-child(4){
    padding:50px 0px 20px;
   }

   .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
    font-size:35px;
    color:var(--darkblue);
    background-color:var(--cwhite);
    width:60px;
    height:60px;
    padding:12px;
    border-radius:50%;
    margin-right:15px;

   }

   .fa-facebook-f:hover,.fa-twitter:hover,.fa-pinterest:hover,.fa-instagram:hover,.fa-youtube:hover,.fa-plane-departure:hover{
    color:var(--cwhite);
    transition: 1s;
    cursor:pointer;
   }

   .fa-facebook-f:hover{
    background-color:var(--fb);
   }

   .fa-twitter:hover{
    background-color:var(--twit);
   }

   .fa-pinterest:hover{
    background-color:var(--pin);
   }

   .fa-instagram:hover{
    background-color:var(--inst);
   }

   .fa-youtube:hover{
    background-color:var(--yout);
   }

   .fa-plane-departure:hover{
    background-color:var(--flig);
   }
   
   .line{
    font-size:30px;
    font-weight:bold;
    letter-spacing:-5px;
    padding:50px 0px 0px;
   }

   footer ul li{
    list-style-type: none;
    display:inline-block;
    padding-right:30px ;
    font-size:23px;
    font-weight:bold;
   
   }

   footer ul li:hover{
    color:var(--yellow);
    cursor:pointer;
    font-weight:bold;
   
  
   }

   footer p:last-child{
    font-size:23px;
    padding:30px;
   }

   /*mobile view*/

   @media only screen and (min-width:320px) and (max-width:600px){

    footer{
        width:100%;
        /* height:100vh; */
        color:var(--cwhite);
        background-image: url("./images/footerbg.avif");
        background-repeat: no-repeat;
        background-size:cover;
        text-align:center;
        padding:20px;
       }
       footer h3:nth-child(1){
        padding-top:20px;
    
       }

       .mail{
        font-size:20px;
        cursor:pointer;
       }
       .line{
        font-size:13px;
        font-weight:bold;
        letter-spacing:-5px;
        padding:50px 0px 0px;
       }

       .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
        font-size:15px;
        color:var(--darkblue);
        background-color:var(--cwhite);
        width:30px;
        height:30px;
        padding:8px;
        border-radius:50%;
        margin-right:10px;
    
       }
       footer ul li{
        list-style-type: none;
        display:inline-block;
        padding-right:30px ;
        font-size:18px;
        font-weight:bold;
       
       }
       footer p:last-child{
        font-size:15px;
        padding:30px;
       }
       .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
        font-size:20px;
        padding-right:20px;
        padding-left:50px;
       }


   }


   /*Tab view*/

   @media only screen and (min-width:600px) and (max-width:1470px){

    footer{
        width:100%;
        /* height:100vh; */
        color:var(--cwhite);
        background-image: url("./images/footerbg.avif");
        background-repeat: no-repeat;
        background-size:cover;
        text-align:center;
        padding:20px;
       }
       footer h3:nth-child(1){
        padding-top:20px;
    
       }

       .mail{
        font-size:23px;
        cursor:pointer;
       }
       .line{
        font-size:20px;
        font-weight:bold;
        letter-spacing:-5px;
        padding:50px 0px 0px;
       }

       .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
        font-size:30px;
        color:var(--darkblue);
        background-color:var(--cwhite);
        width:60px;
        height:60px;
        padding:15px;
        border-radius:50%;
        margin-right:15px;
    
       }
       footer ul li{
        list-style-type: none;
        display:inline-block;
        padding-right:30px ;
        font-size:23px;
        font-weight:bold;
       
       }
       footer p:last-child{
        font-size:18px;
        padding:30px;
       }
       .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
        font-size:20px;
        padding-right:20px;
        padding-left:50px;
       }


   }



