/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }



  :root{
    --darkblue:#0A2254;
    --cblack:#000000;
    --yellow:#F8DB0B;
    --cwhite:rgb(255,255,255);
    --fb:#1877F2;
    --twit:#1DA1F2;
    --pin:#c8232c;
    --inst:#F70181;
    --yout:#FF0000;
    --flig:#0d9855;
}

nav .logo{
  width:200px;
  height:100px;
  
}
nav .logo img{
  width:100%;
  height:100%;
  object-fit: cover;
}

nav{
  height:fit-content;
  background-color:var(--darkblue);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 40px;
  /* position:fixed;
  z-index:99999; */

}

nav .link a{
   
    font-weight:bold;
    text-transform: capitalize;
    padding:10px;
    transition:0.5s ease;
    color:white;
  
    /* border-radius:20px; */

}

nav .link a{
  font-size:25px;
  text-decoration:none;
  font-weight:bold;
  position: relative;
  z-index: 9999;
}

nav .link a:hover{
  color:var(--yellow);
}




/* nav .link a:hover{
  color:rgb(29,169,74);
  
   padding:10px 20px;
  
   
} */

nav .link{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  transition:all 0.5s linear;
}
nav .fa-bars{
  display:none;
  color:var(--cwhite);

}

nav input{
  display:none;
}

nav input:checked~.link{
  display:flex;
  left:0;
}

/*mobile view and Tab view*/

@media only screen and (min-width:320px) and (max-width:1422px){

  nav{
      position:relative;
      position:fixed;
      z-index:99999;
  }
  nav .link{
      display:none;
      position:absolute;
      width:100%;
      color:var(--cwhite);
      background-color:var(--darkblue);
      /* border:5px solid black; */
      top:90px;
      left:100%;
      flex-direction:column;
      gap:5px;

  }

  nav .link a{
      border:1px solid silver;
      width:100%;
      text-align:center;
      border-left:none;
      border-right:none;
      border-top:none;
      
  }

  nav .link a:hover{
      width:250px;
  }
  nav .fa-bars{
      display:block;
      font-size:30px;
      
      }

      nav .logo{
          width:200px;
          height:90px;
      }
}



/* --------------------------------------heading css------------------------------------------- */
.heading h1{
  font-size:40px;
  font-weight:bold;
  text-align: center;
  padding:30px;
  color:var(--darkblue);
}


/* --------------------------------------left and right container------------------------------------------- */

  .rectangle{
    width: 100%;
    height: 500px;
    background-image: url("./images/contact\ bg.avif");
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:180px;
    position:relative;
    border:3px solid black;
  
  }
  
  .firsthalf{
    width: 55%;
    height: 500px;
    /* position:relative; */
    /* background:linear-gradient(rgb(234, 164, 36),rgb(217, 181, 130)); */
    opacity: 0.5;
  }
  
  .box{
    width: 500px;
    padding: 10px;
    /* border: 2px solid black; */
    background-color: rgb(144, 188, 173);
    position: absolute;
    top:320px;
    left:700px;
    
  
  }
  
  .box h1{
    text-align: center;
    color:var(--darkblue);
    padding:10px 0px;
    
  }

  .box>p{
    text-align:center;
    font-weight:bold;
    letter-spacing:-5px;
    font-size:25px;
    padding:5px 0px;
  }
  
  .sample{
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
    
  }
  .sample h2{
    font-weight:bold;
    font-size:25px;
  }

  
  .sample p{
    font-size:16px;
    font-weight:bold;
    padding:15px 35px;
  
  }

  /*---------------------------------------Form----------------------------------------*/

  
  form label{
     font-weight: bold;
     padding-bottom:10px;
  }
  form input{
     width:100%;
     height:35px;
  }
  form input::placeholder{
    padding-left:20px;
  }
  
  button{
    margin: 20px 120px;
    background-color: #0f162f;
    border: none;
    color: rgb(214, 221, 15);
    padding: 10px 70px;
    font-weight:bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border:2px solid transparent;
  }

  button:hover{
    color:var(--darkblue);
    background-color:var(--cwhite);
    font-weight: bold;
    border:2px solid var(--darkblue);
  }

  .address{
    /* padding: 50px 30px; */
    text-align: center;
    margin-top: 30px;
    line-height: 40px;
  }
  .address span{
    color: rgb(214, 221, 15);
    font-weight: bold;
  }
  
  .address p{
    font-weight: 600;
    font-size: 16px;
  }
  
  .information{
    text-align: center;
    margin-top: 30px;
    line-height: 40px;
  }
  .information span{
    color: rgb(214, 221, 15);
    font-weight: bold;
  }
  .information p{
    font-weight: 500;
    font-size: 16px;
  }

  /*-----------------------Footer area----------------------------*/

  footer{
    width:100%;
    min-height:100vh;
    color:var(--cwhite);
    background-image: url("./images/footerbg.avif");
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    padding:40px;
   }

   footer h3:nth-child(1){
    padding-top:40px;

   }
   footer h3:nth-child(2){
    padding:10px 0px 35px;

   }

   footer .contents{
    text-align:center;
   }

   .mail{
    font-size:25px;
    cursor:pointer;
   }
   .mail:hover{
    color:var(--yellow);
   }
   
   .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
    font-size:35px;
    padding-right:20px;
    padding-left:50px;
   }

   span{
    font-size:20px;
    
   }

   footer h3:nth-child(4){
    padding:50px 0px 20px;
   }

   .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
    font-size:35px;
    color:var(--darkblue);
    background-color:var(--cwhite);
    width:60px;
    height:60px;
    padding:12px;
    border-radius:50%;
    margin-right:15px;

   }

   .fa-facebook-f:hover,.fa-twitter:hover,.fa-pinterest:hover,.fa-instagram:hover,.fa-youtube:hover,.fa-plane-departure:hover{
    color:var(--cwhite);
    transition: 1s;
    cursor:pointer;
   }

   .fa-facebook-f:hover{
    background-color:var(--fb);
   }

   .fa-twitter:hover{
    background-color:var(--twit);
   }

   .fa-pinterest:hover{
    background-color:var(--pin);
   }

   .fa-instagram:hover{
    background-color:var(--inst);
   }

   .fa-youtube:hover{
    background-color:var(--yout);
   }

   .fa-plane-departure:hover{
    background-color:var(--flig);
   }
   
   .line{
    font-size:30px;
    font-weight:bold;
    letter-spacing:-5px;
    padding:50px 0px 0px;
   }

   footer ul li{
    list-style-type: none;
    display:inline-block;
    padding-right:30px ;
    font-size:23px;
    font-weight:bold;
   
   }

   footer ul li:hover{
    color:var(--yellow);
    cursor:pointer;
    font-weight:bold;
   
  
   }

   footer p:last-child{
    font-size:23px;
    padding:30px;
   }

   /*mobile view*/

   @media only screen and (min-width:320px) and (max-width:600px){

    footer{
        width:100%;
        /* height:100vh; */
        color:var(--cwhite);
        background-image: url("./images/footerbg.avif");
        background-repeat: no-repeat;
        background-size:cover;
        text-align:center;
        padding:20px;
       }
       footer h3:nth-child(1){
        padding-top:20px;
    
       }

       .mail{
        font-size:20px;
        cursor:pointer;
       }
       .line{
        font-size:13px;
        font-weight:bold;
        letter-spacing:-5px;
        padding:50px 0px 0px;
       }

       .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
        font-size:15px;
        color:var(--darkblue);
        background-color:var(--cwhite);
        width:30px;
        height:30px;
        padding:8px;
        border-radius:50%;
        margin-right:10px;
    
       }
       footer ul li{
        list-style-type: none;
        display:inline-block;
        padding-right:30px ;
        font-size:18px;
        font-weight:bold;
       
       }
       footer p:last-child{
        font-size:15px;
        padding:30px;
       }
       .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
        font-size:20px;
        padding-right:20px;
        padding-left:50px;
       }


   }


   /*Tab view*/

   @media only screen and (min-width:600px) and (max-width:1470px){

    footer{
        width:100%;
        /* height:100vh; */
        color:var(--cwhite);
        background-image: url("./images/footerbg.avif");
        background-repeat: no-repeat;
        background-size:cover;
        text-align:center;
        padding:20px;
       }
       footer h3:nth-child(1){
        padding-top:20px;
    
       }

       .mail{
        font-size:23px;
        cursor:pointer;
       }
       .line{
        font-size:20px;
        font-weight:bold;
        letter-spacing:-5px;
        padding:50px 0px 0px;
       }

       .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
        font-size:30px;
        color:var(--darkblue);
        background-color:var(--cwhite);
        width:60px;
        height:60px;
        padding:15px;
        border-radius:50%;
        margin-right:15px;
    
       }
       footer ul li{
        list-style-type: none;
        display:inline-block;
        padding-right:30px ;
        font-size:23px;
        font-weight:bold;
       
       }
       footer p:last-child{
        font-size:18px;
        padding:30px;
       }
       .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
        font-size:20px;
        padding-right:20px;
        padding-left:50px;
       }


   }
  
  