*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}


.container-fluid{
    width:100vh;
    height:100%;
    background-color:white;
    text-align:center;
    display:grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    gap:50px;
  
   
}
.heading h1{
    font-size:35px;
    text-align: center;
    color:darkblue;
    padding:50px;
}

.right{
    font-size:22px;
    line-height: 35px;
    padding-right:50px;
    
}

.container-fluid .right p:nth-child(1){
    text-align: left;
    
}
.container-fluid .right p:nth-child(2){
    text-align: left;
}


/*------------------------------------mobile view--------------------------------------*/

@media only screen and (min-width:320px) and (max-width:500px){
    .container-fluid{
        width:100vh;
        height:100%;
        background-color:white;
        text-align:center;
        display:grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        gap:25px; 
    }
    .heading h1{
        font-size:25px;
        text-align: center;
        color:darkblue;
        padding:20px;
    }
    .right{
        font-size:18px;
        line-height: 30px;
        padding:20px;
        
    }
    
}

/*------------------------------------Tab view--------------------------------------*/
@media only screen and (min-width:500px) and (max-width:1200px){
    .container-fluid{
        width:100vh;
        height:100%;
        background-color:white;
        text-align:center;
        display:grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        gap:50px; 
    }
    .heading h1{
        font-size:30px;
        text-align: center;
        color:darkblue;
        padding:20px;
    }
    .right{
        font-size:20px;
        line-height: 33px;
        padding:20px;
        
    }
    
}

/*----------------------------------------------multi-cuisine----------------------------------------------------*/


.heading2 h1{
    font-size:35px;
    text-align: center;
    color:darkblue;
    padding:50px 0px 0px;
}
.heading2 p{
    letter-spacing:-3px;
    text-align:center;
    font-weight: bold;
    font-size:20px;
    padding:5px 10px 0px;
}

.multi{
    width:100%;
    height: 100%;
    background-color:white;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    gap:50px;
    padding:40px;
}

.card{
    text-align:center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition:2s;
   
}

.card img:hover{
    filter: brightness(60%);
    object-fit: cover;
}

/*------------------------mobile view-----------------------*/

@media only screen and (min-width:320px) and (max-width:500px){
    .multi{
        width:100%;
        height: 100%;
        background-color:white;
        display:grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        gap:20px;
        padding:20px;
    }
    .heading2 h1{
        font-size:20px;
        text-align: center;
        color:darkblue;
    }
    .heading2 p{
        letter-spacing:-3px;
        text-align:center;
        font-weight: bold;
        font-size:15px;
        padding:20;
    }
}

/*------------------------Tab view-----------------------*/

@media only screen and (min-width:500px) and (max-width:1200px){
    .multi{
        width:100%;
        height: 100%;
        background-color:white;
        display:grid;
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center;
        gap:40px;
        padding:40px;
    }
    .heading2 h1{
        font-size:30px;
        text-align: center;
        color:darkblue;
    }
    .heading2 p{
        letter-spacing:-3px;
        text-align:center;
        font-weight: bold;
        font-size:20px;
        padding:20;
    }
}





