*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.galleryoverall{
    width: 100%;
}
/*    start navbar */
:root{
    --darkblue:#0A2254;
    --cblack:#000000;
    --yellow:#F8DB0B;
    --cwhite:rgb(255,255,255);
    --fb:#1877F2;
    --twit:#1DA1F2;
    --pin:#c8232c;
    --inst:#F70181;
    --yout:#FF0000;
    --flig:#0d9855;
    --pink:#FFE3EF;
    --skyblue:#C3EBFF;
    --lightgreen:#D4FFE1;
    --lightyellow:#FFF9C6;
    --lignt:#eee1ca;
    --light:#90ee90
}

/*---------------------------------------------nav logo----------------------------------------------------------*/

nav .logo{
    width:200px;
    height:100px;
    
}
nav .logo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

nav{
    width:100%;
    height:100px;
    background-color:var(--darkblue);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 40px;
    position:fixed;
    z-index:99999;

    

}

nav .link a{
     
      font-weight:bold;
      text-transform: capitalize;
      padding:10px;
      transition:0.5s ease;
      color:white;

}

nav .link a{
    font-size:25px;
    text-decoration:none;
    font-weight:bold;
    position: relative;
    z-index: 9999;
}

nav .link a:hover{
    color:var(--yellow);
}


nav .link{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition:all 0.5s linear;
}
nav .fa-bars{
    display:none;
    color:var(--cwhite);

}

nav input{
    display:none;
}

nav input:checked~.link{
    display:flex;
    left:0;
}

/*mobile view and Tab view*/

@media only screen and (min-width:320px) and (max-width:1422px){

    nav{
        position:relative;
        position:fixed;
        z-index:99999;
    }
    nav{
        /* width:100%;
        height:100px; */
        background-color:var(--darkblue);
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:40px 40px;
        position:fixed;
        z-index:99999;
    
        
    
    }
    nav .link{
        display:none;
        position:absolute;
        width:100%;
        color:var(--cwhite);
        background-color:var(--darkblue);
        /* border:5px solid black; */
        top:90px;
        left:100%;
        flex-direction:column;
        gap:5px;

    }

    nav .link a{
        border:1px solid silver;
        width:100%;
        text-align:center;
        border-left:none;
        border-right:none;
        border-top:none;
        
    }

    nav .link a:hover{
        width:250px;
    }
    nav .fa-bars{
        display:block;
        font-size:30px;
        
        }

        nav .logo{
            width:200px;
            height:90px;
        }
}
/*    end navbar */
.galleryoverallimg{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap:wrap ;
}
.gallerynav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.gallerynav h3{
    margin-top: 120px;
}
.gallerynav h3 a:hover{
    color: blue;
}
.parent{
    width:30%;
    height: 100%;
    overflow: hidden;
    position:relative;
    display: inline-block;
    grid-template-columns: auto auto auto;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0,0,0.5);
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    /* margin-right: 50px; */

}
.child img{
    height: 100%;
    width: 100%;
    background-size:cover ;
    transition: all 1.1s;
}
.parent:hover .child{
    transform: scale(1.2);
}
@media screen and (min-width:300px) and (max-width:700px) {
    .parent{
        display: grid;
        grid-template-columns: auto;
        margin-left: 35px;
        width: 80%;
        height: 100%;
    }
    
}
@media screen and (min-width:700px) and (max-width:980px) {
    .parent{
        width: 50%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 30px;
    }
    
}
.gallerynav h3 a{
    text-decoration: none;
}