/* General styles */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

/*------------------------Root css root functions----------------- */
:root{
  --darkblue:#0A2254;
  --cblack:#000000;
  --yellow:#F8DB0B;
  --cwhite:rgb(255,255,255);
  --fb:#1877F2;
  --twit:#1DA1F2;
  --pin:#c8232c;
  --inst:#F70181;
  --yout:#FF0000;
  --flig:#0d9855;
  --pink:#FFE3EF;
  --skyblue:#C3EBFF;
  --lightgreen:#D4FFE1;
  --lightyellow:#FFF9C6;
  --lignt:#eee1ca;
  --light:#90ee90
}

/*---------------------------------------------nav logo----------------------------------------------------------*/

nav .logo{
  width:200px;
  height:100px;
  
}
nav .logo img{
  width:100%;
  height:100%;
  object-fit: cover;
}

nav{
  width:100%;
  height:100px;
  background-color:var(--darkblue);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:40px 40px;
  position:fixed;
  z-index:99999;

  

}

nav .link a{
   
    font-weight:bold;
    text-transform: capitalize;
    padding:10px;
    transition:0.5s ease;
    color:white;

}

nav .link a{
  font-size:25px;
  text-decoration:none;
  font-weight:bold;
  position: relative;
  z-index: 9999;
}

nav .link a:hover{
  color:var(--yellow);
}


nav .link{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  transition:all 0.5s linear;
}
nav .fa-bars{
  display:none;
  color:var(--cwhite);

}

nav input{
  display:none;
}

nav input:checked~.link{
  display:flex;
  left:0;
}

/*mobile view and Tab view*/

@media only screen and (min-width:320px) and (max-width:1422px){

  nav{
      position:relative;
      position:fixed;
      z-index:99999;
  }
  nav{
      /* width:100%;
      height:100px; */
      background-color:var(--darkblue);
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:40px 40px;
      position:fixed;
      z-index:99999;
  
      
  
  }
  nav .link{
      display:none;
      position:absolute;
      width:100%;
      color:var(--cwhite);
      background-color:var(--darkblue);
      /* border:5px solid black; */
      top:90px;
      left:100%;
      flex-direction:column;
      gap:5px;

  }

  nav .link a{
      border:1px solid silver;
      width:100%;
      text-align:center;
      border-left:none;
      border-right:none;
      border-top:none;
      
  }

  nav .link a:hover{
      width:250px;
  }
  nav .fa-bars{
      display:block;
      font-size:30px;
      
      }

      nav .logo{
          width:200px;
          height:90px;
      }
    } 
/* end */



.next{
  width: 100%;
  min-height:1500px;
  background-color: rgb(217, 244, 239);
}

.first{
  background-color: rgb(35, 22, 47);
  width: 80%;
  height: 30px;
  position: relative;
  top:200px;
  left:170px;
  z-index: 1;
 
}

.text{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  gap:30px;
}

.text h5{
  color: rgb(222, 237, 20);
  font-weight: 700;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
}

iframe{
  position: absolute;
  top:20px;
  margin:10px auto;

}


.box{
  width:20%;
  height: 500px;
  /* border: 2px solid black; */
  background-image:linear-gradient(rgb(179, 53, 53), rgb(155, 128, 128) 90deg);
  opacity: 0.7;
  z-index: 2;
  background-color:white;
}
.box h1{
  background-color: rgb(4, 4, 4);
  color: white;
  font-size: 20px;
  height: 30px;
  text-align: center;
}

.box1{
  
  width: 230px;
  height: 500px;
 

  
  border: 1px solid black;
  
  position:absolute;
  top:30px;
  right:7px;
 
}
.box1 img{
  width: 230px;
  height: 200px;
  

}
.box1 p{
  font-size: 14px;
  
}

.box1 h3{
  text-align: center;
  background-color: rgb(244, 236, 25);
  color: white;
  padding: 0px 20px;
  width: 230px;
  margin-top: 10px;
}
.box1 p{
  line-height:25px;
  text-align: left;
  margin-top: 10px;
  padding-left: 10px;
  font-weight: bold;
}


.main{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  padding: 40px;
  
}

.form input{
  width: 100%;
  padding: 10px 50px;
  margin: 30px;
}

.to input{
  width: 100%;
  padding:10px 50px ;
  margin: 30px;
}
.bttn{
 
    background-color: #0f162f;
    border: none;
    color: rgb(214, 221, 15);
    padding: 10px 50px;
    font-weight: bolder;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 15px;
   
    text-decoration: none;
    display: inline-block;
    
    /* margin: 4px 2px; */
    cursor: pointer;
}

.main .form label{
  font-weight: bolder;
  margin-bottom: 10px;
}

.main .to label{
  font-weight: bolder;
  margin-bottom: 10px;

}

.weather img{
  width: 100%;
  height: 200px;
}




/*-----------------------Footer area----------------------------*/

footer{
  width:100%;
  min-height:100vh;
  color:var(--cwhite);
  background-image: url("images/footerbg.avif");
  background-repeat: no-repeat;
  background-size:cover;
  text-align:center;
  padding:40px;
 }

 footer h3:nth-child(1){
  padding-top:40px;

 }
 footer h3:nth-child(2){
  padding:10px 0px 35px;

 }

 footer .contents{
  text-align:center;
 }

 .mail{
  font-size:25px;
  cursor:pointer;
 }
 .mail:hover{
  color:var(--yellow);
 }
 
 .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
  font-size:35px;
  padding-right:20px;
  padding-left:50px;
 }

 span{
  font-size:20px;
  
 }

 footer h3:nth-child(4){
  padding:50px 0px 20px;
 }

 .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
  font-size:35px;
  color:var(--darkblue);
  background-color:var(--cwhite);
  width:60px;
  height:60px;
  padding:12px;
  border-radius:50%;
  margin-right:15px;

 }

 .fa-facebook-f:hover,.fa-twitter:hover,.fa-pinterest:hover,.fa-instagram:hover,.fa-youtube:hover,.fa-plane-departure:hover{
  color:var(--cwhite);
  transition: 1s;
  cursor:pointer;
 }

 .fa-facebook-f:hover{
  background-color:var(--fb);
 }

 .fa-twitter:hover{
  background-color:var(--twit);
 }

 .fa-pinterest:hover{
  background-color:var(--pin);
 }

 .fa-instagram:hover{
  background-color:var(--inst);
 }

 .fa-youtube:hover{
  background-color:var(--yout);
 }

 .fa-plane-departure:hover{
  background-color:var(--flig);
 }
 
 .line{
  font-size:30px;
  font-weight:bold;
  letter-spacing:-5px;
  padding:50px 0px 0px;
 }

 footer ul li{
  list-style-type: none;
  display:inline-block;
  padding-right:30px ;
  font-size:23px;
  font-weight:bold;
 
 }

 footer ul li:hover{
  color:var(--yellow);
  cursor:pointer;
  font-weight:bold;
 

 }

 footer p:last-child{
  font-size:23px;
  padding:30px;
 }

 /*mobile view*/

 @media only screen and (min-width:320px) and (max-width:600px){

  footer{
      width:100%;
      /* height:100vh; */
      color:var(--cwhite);
      background-image: url("./images/footerbg.avif");
      background-repeat: no-repeat;
      background-size:cover;
      text-align:center;
      padding:20px;
     }
     footer h3:nth-child(1){
      padding-top:20px;
  
     }

     .mail{
      font-size:20px;
      cursor:pointer;
     }
     .line{
      font-size:13px;
      font-weight:bold;
      letter-spacing:-5px;
      padding:50px 0px 0px;
     }

     .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
      font-size:15px;
      color:var(--darkblue);
      background-color:var(--cwhite);
      width:30px;
      height:30px;
      padding:8px;
      border-radius:50%;
      margin-right:10px;
  
     }
     footer ul li{
      list-style-type: none;
      display:inline-block;
      padding-right:30px ;
      font-size:18px;
      font-weight:bold;
     
     }
     footer p:last-child{
      font-size:15px;
      padding:30px;
     }
     .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
      font-size:20px;
      padding-right:20px;
      padding-left:50px;
     }


 }


 /*Tab view*/

 @media only screen and (min-width:600px) and (max-width:1470px){

  footer{
      width:100%;
      /* height:100vh; */
      color:var(--cwhite);
      background-image: url("./images/footerbg.avif");
      background-repeat: no-repeat;
      background-size:cover;
      text-align:center;
      padding:20px;
     }
     footer h3:nth-child(1){
      padding-top:20px;
  
     }

     .mail{
      font-size:23px;
      cursor:pointer;
     }
     .line{
      font-size:20px;
      font-weight:bold;
      letter-spacing:-5px;
      padding:50px 0px 0px;
     }

     .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
      font-size:30px;
      color:var(--darkblue);
      background-color:var(--cwhite);
      width:60px;
      height:60px;
      padding:15px;
      border-radius:50%;
      margin-right:15px;
  
     }
     footer ul li{
      list-style-type: none;
      display:inline-block;
      padding-right:30px ;
      font-size:23px;
      font-weight:bold;
     
     }
     footer p:last-child{
      font-size:18px;
      padding:30px;
     }
     .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
      font-size:20px;
      padding-right:20px;
      padding-left:50px;
     }


 }

