*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.parkoverall1{
    width: 100%;
}


    .parknavbar{
        width: 100%;
        padding: 15px 5px;
        display: flex;
        background-color:#143665;
        color: #ffd336;
        justify-content: center;
        align-items: center;
        /* position: fixed; */
        top: 20px;
        box-shadow: 5px 5px 5px gray;
        z-index: 999;
    }
    .parknavbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        font-size: 15px;
        position: relative;

    }
    .parknavbar ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #ffd336;
    }
    
    .parknavbar ul li::after{
        content: ' ';
        height: 3px;
        width: 0%;
        background-color: #ffd336;
        position: absolute;
        left: 0;
        bottom:-2px;
        animation: line;
        transition:0.5s ;
    
    }
    .parknavbar ul li:hover::after{
        width: 100%;
    
    }
.parkcontent01 h1{
    width: 100%;
    height: 100px;
    padding: 10px 25px 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    animation-name:logo;
    z-index: 0;
    animation-duration:2s;
}
@keyframes logo{
    from{
        top:px;
    }
    to{
        bottom:50px;
    }
}
.parkcontent01 ul{
   display: grid;
   justify-content: center;
   align-items: center; 
   padding-left:250px;
   margin-right: 100px; 
   line-height: 30px;
   grid-template-columns: auto;
   
}
.parkcontent01 ul li{
    font-size: 20px ;
}
.pic{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    /* grid-template-columns: auto auto; */
    flex-wrap: wrap;
}
.pic img{
    width: 48%;
    min-height: 500px;
    /* object-fit: cover; */
}
.parkoverall1 button{
    width: 150px;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 15px;
    background: #143665;
    color: #ffd336;
    margin-right: 40px;
    float: right;
    

}
.parkoverall1 button:hover{
    background-color: aliceblue;
    color: #143665;
    border: 2px solid #143665;
}
@media screen and (min-width:320px) and (max-width:1337px){
    /* .pic{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 50px;
        gap: 50px;
        grid-template-columns: auto;
    } */
    .pic img{
        width:100%;
        height: 400px;
    }
    .parkcontent01 ul{
        display: grid;
        justify-content: center;
        align-items: center; 
        padding-left:50px;
        margin-right: 100px; 
        line-height: 30px;
        grid-template-columns: auto;
        
     }

    
}