*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.overall{
    width: 100%;
}
/* navbar  st*/
:root{
    --darkblue:#0A2254;
    --cblack:#000000;
    --yellow:#F8DB0B;
    --cwhite:rgb(255,255,255);
    --fb:#1877F2;
    --twit:#1DA1F2;
    --pin:#c8232c;
    --inst:#F70181;
    --yout:#FF0000;
    --flig:#0d9855;
    --pink:#FFE3EF;
    --skyblue:#C3EBFF;
    --lightgreen:#D4FFE1;
    --lightyellow:#FFF9C6;
    --lignt:#eee1ca;
    --light:#90ee90
}

/*---------------------------------------------nav logo----------------------------------------------------------*/

nav .logo{
    width:200px;
    height:100px;
    
}
nav .logo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

nav{
    width:100%;
    height:100px;
    background-color:var(--darkblue);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 40px;
    position:sticky;
    top:0;
    z-index:99999;

    

}

nav .link a{
     
      font-weight:bold;
      text-transform: capitalize;
      padding:10px;
      transition:0.5s ease;
      color:white;

}

nav .link a{
    font-size:25px;
    text-decoration:none;
    font-weight:bold;
    position: relative;
    z-index: 9999;
}

nav .link a:hover{
    color:var(--yellow);
}


nav .link{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition:all 0.5s linear;
}
nav .fa-bars{
    display:none;
    color:var(--cwhite);

}

nav input{
    display:none;
}

nav input:checked~.link{
    display:flex;
    left:0;
}

/*mobile view and Tab view*/

@media only screen and (min-width:320px) and (max-width:1422px){

    nav{
        position:relative;
        position:fixed;
        z-index:99999;
    }
    nav{
        /* width:100%;
        height:100px; */
        background-color:var(--darkblue);
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:40px 40px;
        position:fixed;
        z-index:99999;
    
        
    
    }
    nav .link{
        display:none;
        position:absolute;
        width:100%;
        color:var(--cwhite);
        background-color:var(--darkblue);
        /* border:5px solid black; */
        top:90px;
        left:100%;
        flex-direction:column;
        gap:5px;

    }

    nav .link a{
        border:1px solid silver;
        width:100%;
        text-align:center;
        border-left:none;
        border-right:none;
        border-top:none;
        
    }

    nav .link a:hover{
        width:250px;
    }
    nav .fa-bars{
        display:block;
        font-size:30px;
        
        }

        nav .logo{
            width:200px;
            height:90px;
        }
}
/* navbar end */
.parknavbar{
    width: 100%;
    padding: 15px 5px;
    display: flex;
    background-color:#143665;
    color: #ffd336;
    justify-content: center;
    align-items: center;
    top: 20px;
    box-shadow: 5px 5px 5px gray;
    position: sticky;
    top: 100px;
}
.parknavbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 15px;
    position: relative;

}
.parknavbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffd336;
}

.parknavbar ul li::after{
    content: ' ';
    height: 3px;
    width: 0%;
    background-color: #ffd336;
    position: absolute;
    left: 0;
    bottom:-2px;
    animation: line;
    transition:0.5s ;

}
.parknavbar ul li:hover::after{
    width: 100%;

}
.parkcontent0 h1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    animation-name:logo;
    z-index: 0;
    animation-duration:2s;
    /* animation-timing-function:ease; */
}
@keyframes logo{
    from{
        top:px;
    }
    to{
        bottom:50px;
    }
}
.parkcontent{
    padding: 0px 50px 0px 50px;
    display: grid;
}
.parkoverall button{
    width: 170px;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 15px;
    background: #143665;
    color: #ffd336;
    margin-top: 50px;
    margin-right: 40px;
    float: right;
    transition: all 1.5s;
    

}
.parkoverall button:hover{
    background-color: aliceblue;
    color: #143665;
    border: 2px solid #143665;
    
}
.parkcontent1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.innercontent h1{
    text-align: center;
    padding-bottom: 40px;
}
.innercontent1 i{
    color: green;
}
.innercontent2 i{
    color: red;
}
.parkcontent1 img{
    width: 50%;
}
.innercontent{
    width:50%;
    justify-content: center;
    
}
.parkcontent2{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.parkcontent2 img{
    width: 50%;
}
.para{
    font-size: 20px;
    line-height: 28px;
}
.parkcontent0 h3{
    padding-top: 40px;
}
.parkcontent3 p{
padding-top: 40px;
}
.parkcontent3 h3{
    text-align: center;
}
@media screen and (min-width:300px) and (max-width:800px) {
    .parkcontent1{
       
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit minmax(300px,fr));
    }
    .parkcontent1 img{
        width: 100%;
    }
    .parkcontent1 .innercontent{
        width: 100%;
        padding: 30px 0px 30px 0px;
    }
    .parkcontent2{
       
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit minmax(300px,fr));
    }
    .parkcontent2 img{
        width: 100%;
    }
    .parkcontent2 .innercontent{
        width: 100%;
        padding: 30px 0px 30px 0px;
    }
}