*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*---------------------------------------- NAV LOGO ----------------------------------------------------------*/

nav .logo{
    width:200px;
    height:100px;
    
}
nav .logo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

nav{
    width:100%;
    height:100px;
    background-color:var(--darkblue);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 40px;
    position:fixed;
    z-index:99999;
    background-color:#143665;

    

}

nav .link a{
     
      font-weight:bold;
      text-transform: capitalize;
      padding:10px;
      transition:0.5s ease;
      color:white;

}

nav .link a{
    font-size:25px;
    text-decoration:none;
    font-weight:bold;
    /* position: relative; */
    /* z-index: 9999; */
}

nav .link a:hover{
    color:var(--yellow);
}


nav .link{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition:all 0.5s linear;
}
nav .fa-bars{
    display:none;
    color:var(--cwhite);

}

nav input{
    display:none;
}

nav input:checked~.link{
    display:flex;
    left:0;
}

/*mobile view and Tab view*/

@media only screen and (min-width:320px) and (max-width:1422px){

    nav{
        position:relative;
        position:fixed;
        z-index:99999;
    }
    nav{
        /* width:100%;
        height:100px; */
        background-color:var(--darkblue);
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:40px 40px;
        position:fixed;
        z-index:99999;
    
        
    
    }
    nav .link{
        display:none;
        position:absolute;
        width:100%;
        color:var(--cwhite);
        background-color:var(--darkblue);
        /* border:5px solid black; */
        top:90px;
        left:100%;
        flex-direction:column;
        gap:5px;

    }

    nav .link a{
        border:1px solid silver;
        width:100%;
        text-align:center;
        border-left:none;
        border-right:none;
        border-top:none;
        
    }

    nav .link a:hover{
        width:250px;
    }
    nav .fa-bars{
        display:block;
        font-size:30px;
        
        }

        nav .logo{
            width:200px;
            height:90px;
        }
}



/* NAVBAR */

.navbar
{
    
    width:100%;
    padding:40px;
    background-color: #143665;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding-top:100px;

}

.navbar a
{
    text-decoration: none;
    color:#FFD336;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    padding-bottom: 10px;

}

.navbar a:hover
{
    border-bottom: 1px solid yellow;
    transition: 2s;
    
    
}

.maincontainer>h1
{
    text-align: center;
    margin-top:50px;
    font-weight: bold;
    animation-name: kochi;
    position:relative;
    animation-duration: 2s;
    animation-timing-function: linear;
    margin-bottom:50px;
}

@keyframes kochi
{
    from
    {
        top:-40px;

    }
    to
    {
        top: 0px;
    }
}

/* HIGH THRILL */

.highthrill
{
    height:450px;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #D1EBFD;
    
}

.highthrill>div{
    width:50%;
    height:100%;

}


.highthrill>div>img
{
    width:100%;
    height:100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);

}

.highthrill>div:nth-child(2)
{
    padding:100px;
}

.highthrill>div:nth-child(2)>h1
{
    font-size:48px;
    color:#0A2254;
}

.highthrill>div:nth-child(2)>p:nth-child(2)
{
    font-weight: bolder;
    font-size:30px;
}

.highthrill>div:nth-child(2)>p:nth-child(3)
{
    font-size:24px;
    margin:40px 0px;
    line-height: 40px;
}

.highthrill>div:nth-child(2)>button
{
    padding:15px 30px;
    border:none;
    background-color: #0A2254;
    color:#FFD336;
    font-size:20px;
    font-weight: bold;
    cursor:pointer;
    border:4px solid transparent;

}

.highthrill>div:nth-child(2)>button:hover
{
    color:#0A2254;
    background-color: white;
    border:4px solid #0A2254;
    transition:1s;
}


/* LAND RIDES */


.land
{
    height:450px;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:#FCF3B9;
    
}

.land>div:nth-child(2){
    width:58%;
    height:100%;

}


.land>div:nth-child(2)>img
{
    width:100%;
    height:100%;
    object-fit:cover;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 10% 100%);

}

.land>div:nth-child(1)
{
    padding:100px;
}

.land>div:nth-child(1)>h1
{
    font-size:48px;
    color:#0A2254;
}

.land>div:nth-child(1)>p:nth-child(2)
{
    font-weight: bolder;
    font-size:30px;
}

.land>div:nth-child(1)>p:nth-child(3)
{
    font-size:24px;
    margin:40px 0px;
    line-height: 40px;
}
.land>div:nth-child(1)>button
{
    padding:15px 30px;
    border:none;
    background-color: #0A2254;
    color:#FFD336;
    font-size:20px;
    font-weight: bold;
    cursor:pointer;
    border:4px solid transparent;

}

.land>div:nth-child(1)>button:hover
{
    color:#0A2254;
    background-color: white;
    border:4px solid #0A2254;
    transition:1s;
}

/* WATER RIDES */

.waterrides>div{
    width:50%;
    height:100%;

}

/* KIDS RIDES */


.kidsrides>div{
    width:47%;
    height:100%;

}




   /*-----------------------Footer area----------------------------*/

   footer{
    width:100%;
    min-height:100vh;
    color:white;
    background-image: url("./images/footerbg.avif");
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    padding:40px;
   }

   footer h3:nth-child(1){
    padding-top:40px;

   }
   footer h3:nth-child(2){
    padding:10px 0px 35px;

   }

   footer .contents{
    text-align:center;
   }

   .mail{
    font-size:25px;
    cursor:pointer;
   }
   .mail:hover{
    color:yellow;
   }
   
   .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
    font-size:35px;
    padding-right:20px;
    padding-left:50px;
   }

   span{
    font-size:20px;
    
   }

   footer h3:nth-child(4){
    padding:50px 0px 20px;
   }

   .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
    font-size:35px;
    color:#0A2254;
    background-color:white;
    width:60px;
    height:60px;
    padding:12px;
    border-radius:50%;
    margin-right:15px;

   }

   .fa-facebook-f:hover,.fa-twitter:hover,.fa-pinterest:hover,.fa-instagram:hover,.fa-youtube:hover,.fa-plane-departure:hover{
    color:white;
    transition: 1s;
    cursor:pointer;
   }

   .fa-facebook-f:hover{
    background-color:var(--fb);
   }

   .fa-twitter:hover{
    background-color:var(--twit);
   }

   .fa-pinterest:hover{
    background-color:var(--pin);
   }

   .fa-instagram:hover{
    background-color:var(--inst);
   }

   .fa-youtube:hover{
    background-color:var(--yout);
   }

   .fa-plane-departure:hover{
    background-color:var(--flig);
   }
   
   .line{
    font-size:30px;
    font-weight:bold;
    letter-spacing:-5px;
    padding:50px 0px 0px;
   }

   footer ul li{
    list-style-type: none;
    display:inline-block;
    padding-right:30px ;
    font-size:23px;
    font-weight:bold;
   
   }

   footer ul li:hover{
    color:var(--yellow);
    cursor:pointer;
    font-weight:bold;
   
  
   }

   footer p:last-child{
    font-size:23px;
    padding:30px;
   }

   /*mobile view*/

   @media only screen and (min-width:320px) and (max-width:600px){

    footer{
        width:100%;
        /* height:100vh; */
        color:var(--cwhite);
        background-image: url("./images/footerbg.avif");
        background-repeat: no-repeat;
        background-size:cover;
        text-align:center;
        padding:20px;
       }
       footer h3:nth-child(1){
        padding-top:20px;
    
       }

       .mail{
        font-size:20px;
        cursor:pointer;
       }
       .line{
        font-size:13px;
        font-weight:bold;
        letter-spacing:-5px;
        padding:50px 0px 0px;
       }

       .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
        font-size:15px;
        color:var(--darkblue);
        background-color:var(--cwhite);
        width:30px;
        height:30px;
        padding:8px;
        border-radius:50%;
        margin-right:10px;
    
       }
       footer ul li{
        list-style-type: none;
        display:inline-block;
        padding-right:30px ;
        font-size:18px;
        font-weight:bold;
       
       }
       footer p:last-child{
        font-size:15px;
        padding:30px;
       }
       .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
        font-size:20px;
        padding-right:20px;
        padding-left:50px;
       }


   }


   /*Tab view*/

   @media only screen and (min-width:600px) and (max-width:1470px){

    footer{
        width:100%;
        /* height:100vh; */
        color:var(--cwhite);
        background-image: url("./images/footerbg.avif");
        background-repeat: no-repeat;
        background-size:cover;
        text-align:center;
        padding:20px;
       }
       footer h3:nth-child(1){
        padding-top:20px;
    
       }

       .mail{
        font-size:23px;
        cursor:pointer;
       }
       .line{
        font-size:20px;
        font-weight:bold;
        letter-spacing:-5px;
        padding:50px 0px 0px;
       }

       .fa-facebook-f,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-youtube,.fa-plane-departure{
        font-size:30px;
        color:
        background-color:var(--cwhite);
        width:60px;
        height:60px;
        padding:15px;
        border-radius:50%;
        margin-right:15px;
    
       }
       footer ul li{
        list-style-type: none;
        display:inline-block;
        padding-right:30px ;
        font-size:23px;
        font-weight:bold;
       
       }
       footer p:last-child{
        font-size:18px;
        padding:30px;
       }
       .fa-envelopes-bulk,.fa-envelope-open-text,.fa-square-phone-flip,.fa-square-phone-flip{
        font-size:20px;
        padding-right:20px;
        padding-left:50px;
       }


   }